extends layout

block content
  h1= title
  - let items = results
  div(class="container-fluid")
  div(class="row")
   each v,index  in results 
    div(class="col-sm-2" onclick =`buy(${index})`) #{v.name}, #{v.mileage}, #{v.price}
    script.
        function buy(a)
        {
            alert(`You purchased Item ${a+1}`)
        }
 
    


  
