extends layout

block content
    h1= title
    - let items = results
    div(class="container-fluid")
        div(class="row m-1")
            each v,index  in results 
                - let destination = `dispatch(\"/vehicles/update?id=${v._id}\")`
                div(class="col-sm-2"  class="m-1" ) #{v.name}, #{v.mileage}, #{v.price}
                    button.btn( class="btn-primary ml-1", onclick= destination) Update
    
    script.
        function dispatch(path){
            window.location.href=path
        }
 
        //- function buy(a)
        //- {
        //-     alert(`You purchased Item ${a+1}`)
        //- }
 
    


  
