extends layout
block content
 h1= title

 if (toShow == null)
    h2 No instance to delete
 else
    - let vehicles_id = toShow._id
    - let vehicles_name = toShow.name
    - let vehicles_mileage = toShow.mileage
    - let vehicles_price = toShow.price
    - let actionid = "/resource/vehicles/" + vehicles_id
    script let actionid = "#{actionid}"
    div
        div.row
            div(class='vehiclesAttr mr-3') Vehicle ID is:
            div #{vehicles_id}
        div.row
            div(class='vehiclesAttr mr-3') Vehicle name is:
            div #{vehicles_name}
        div.row
            div(class='vehiclesAttr mr-3') Vehicle mileage is:
            div #{vehicles_mileage}
        div.row
            div(class='vehiclesAttr mr-3') Vehicle Price is:
            div #{vehicles_price}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
 
 script.
    function cancel() {
        // Go back to the home page for the costume collection
        window.location.href='/costumes'
    }
 script.
     function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
            method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
            alert("Delete succeded")
            window.location.href='/costumes'
            // TODO handle body
        }).catch((error) => {
            // TODO handle error
            alert("Delete failed " + error )
        });
     }