extends layout

block content
    h1= title
    button.btn.btn-primary(onClick=`dispatch(\"/vehicles/create\")`) Create Vehicle
    - let items = results
    div(class="container-fluid")
        div(class="row m-1")
            each v,index  in results 
                - let destination = `dispatch(\"/vehicles/update?id=${v._id}\")`
                - let details = `dispatch(\"/vehicles/detail?id=${items[i]._id}\")`
                - let deleteItem = `dispatch(\"/vehicles/delete?id=${items[i]._id}\")`
                div(class="col-sm-2 p-8 m-3" class="m-1" onClick=`buy(${i})`) #{v.name}, #{v.mileage}, #{v.price}
                    button.btn( class="btn-primary ml-1", onclick= destination) Update
                    button.btn.btn-success.m-2(onclick=details) View Details
                    button.btn.btn-danger.m-2(onclick=deleteItem) Delete
    
    script.
        function dispatch(path){
            window.location.href=path
        }

        function buy(a)
        {
            //alert(`You purchased Item ${a+1}`)
        }

    



