extends layout
block content
 h1= title
 - let vehiclesid = toShow._id
 - let vehicles_name = toShow.name
 - let vehicles_mileage = toShow.mileage
 - let vehicles_price = toShow.price
 div
 div.row
 div(class='vehiclesAttr mr-3') Vehicles ID is:
 div #{vehiclesid}
 div.row
 div(class='vehiclesAttr mr-3') Vehicles name is:
 div #{vehicles_name}
 div.row
 div(class='vehiclesAttr mr-3') Vehicles Mileage is:
 div #{vehicles_mileage}
 div.row
 div(class='vehiclesAttr mr-3') Vehicles Price is:
 div #{vehicles_price}